body {
  width: 100%;
  min-height: 100vh;
  background-color: #08080a;
}

.bookly-bg {
  background-image: radial-gradient(
    ellipse 80% 80% at 50% -20%,
    rgba(120, 119, 198, 0.3),
    rgba(255, 255, 255, 0)
  );
}
